<p id="notice"><%= notice %></p>

<p>
  <strong>P1:</strong>
  <%= @usercorrect.p1 %>
</p>

<p>
  <strong>P2:</strong>
  <%= @usercorrect.p2 %>
</p>

<p>
  <strong>P3:</strong>
  <%= @usercorrect.p3 %>
</p>

<p>
  <strong>P4:</strong>
  <%= @usercorrect.p4 %>
</p>

<%= link_to 'Edit', edit_usercorrect_path(@usercorrect) %> |
<%= link_to 'Back', usercorrects_path %>
