<p id="notice"><%= notice %></p>

<p>
  <strong>T1q1:</strong>
  <%= @teammaking.t1q1 %>
</p>

<p>
  <strong>T1q2:</strong>
  <%= @teammaking.t1q2 %>
</p>

<p>
  <strong>T1q3:</strong>
  <%= @teammaking.t1q3 %>
</p>

<p>
  <strong>T1q4:</strong>
  <%= @teammaking.t1q4 %>
</p>

<p>
  <strong>T2q1:</strong>
  <%= @teammaking.t2q1 %>
</p>

<p>
  <strong>T2q2:</strong>
  <%= @teammaking.t2q2 %>
</p>

<p>
  <strong>T2q3:</strong>
  <%= @teammaking.t2q3 %>
</p>

<p>
  <strong>T2q4:</strong>
  <%= @teammaking.t2q4 %>
</p>

<p>
  <strong>T2q5:</strong>
  <%= @teammaking.t2q5 %>
</p>

<p>
  <strong>T2q6:</strong>
  <%= @teammaking.t2q6 %>
</p>

<p>
  <strong>T3q1:</strong>
  <%= @teammaking.t3q1 %>
</p>

<p>
  <strong>T3q2:</strong>
  <%= @teammaking.t3q2 %>
</p>

<p>
  <strong>T3q3:</strong>
  <%= @teammaking.t3q3 %>
</p>

<p>
  <strong>T3q4:</strong>
  <%= @teammaking.t3q4 %>
</p>

<p>
  <strong>T3q5:</strong>
  <%= @teammaking.t3q5 %>
</p>

<p>
  <strong>T5q1:</strong>
  <%= @teammaking.t5q1 %>
</p>

<p>
  <strong>T5q2:</strong>
  <%= @teammaking.t5q2 %>
</p>

<p>
  <strong>T6q1:</strong>
  <%= @teammaking.t6q1 %>
</p>

<p>
  <strong>T6q2:</strong>
  <%= @teammaking.t6q2 %>
</p>

<p>
  <strong>T6q3:</strong>
  <%= @teammaking.t6q3 %>
</p>

<p>
  <strong>T6q4:</strong>
  <%= @teammaking.t6q4 %>
</p>

<p>
  <strong>T6q5:</strong>
  <%= @teammaking.t6q5 %>
</p>

<p>
  <strong>T6q6:</strong>
  <%= @teammaking.t6q6 %>
</p>

<%= link_to 'Edit', edit_teammaking_path(@teammaking) %> |
<%= link_to 'Back', teammakings_path %>
