
<%= simple_form_for(@correction) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :team, label: 'Team Being Corrected' %>
    <%= f.input :corrector, label: 'Your Team Name' %>
    <%= f.input :date %>
    <%= f.input :pitch, label: 'Have the team give an elevator pitch. What did you like? What can they improve on?' %>
    <%= f.input :demo, label: 'What did the team plan on accomlishing last week, both technical and business goals?' %>
    <%= f.input :b_kpi_a, label: 'What specific progress did they make towards their technical goals?'%>
    <%= f.input :t_kpi_a, label: 'What specific profgress did they make towars their business goals?'%>
    <%= f.input :help_a, label: 'If they did not meet their objectives last week, why?' %>
    <%= f.input :blockers_a, label: 'Did the team run into any blockers last week? If so, are they now solved?' %>
    <%= f.input :other, label: 'What is the next major challenge for this team? How do they plan on solving it?' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
