<p id="notice"><%= notice %></p>

<h1>Corrections</h1>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Corrector</th>
      <th>Date</th>
      <th>Pitch</th>
      <th>Demo</th>
      <th>B kpi a</th>
      <th>T kpi a</th>
      <th>Help a</th>
      <th>Blockers a</th>
      <th>Other</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @corrections.each do |correction| %>
      <tr>
        <td><%= correction.team %></td>
        <td><%= correction.corrector %></td>
        <td><%= correction.date %></td>
        <td><%= correction.pitch %></td>
        <td><%= correction.demo %></td>
        <td><%= correction.b_kpi_a %></td>
        <td><%= correction.t_kpi_a %></td>
        <td><%= correction.help_a %></td>
        <td><%= correction.blockers_a %></td>
        <td><%= correction.other %></td>
        <td><%= link_to 'Show', correction %></td>
        <td><%= link_to 'Edit', edit_correction_path(correction) %></td>
        <td><%= link_to 'Destroy', correction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Correction', new_correction_path %>
