<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @attendance.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @attendance.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @attendance.date %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @attendance.desc %>
</p>

<p>
  <strong>Here:</strong>
  <%= @attendance.here %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
